{% extends "base.html" %}

{% block content %}
<!-- {% if check %}
<script>
    alert("Invalid Login Details!")
</script>
{% endif %} -->
<h1 class="center">Login Form</h1>
<div class="postform">
    <div class="home">
        <form method="POST">
            <div class="form">
                {{ form.hidden_tag() }}
                <h1>{{ form.email.label }} {{ form.email(class="inputfield") }} </h1>
                <h1>{{ form.password.label }} {{ form.password(class="inputfield") }}</h1>
                <div class=center>{{ form.submit(class="button") }}</div>
            </div>
        </form>
    </div>
</div>
{% endblock %}